<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Renewable Energy Design Studio</title>
	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/community.css">
</head>
<body>
  <!-- start: navbar -->
    <div class="container">
        <div class="row">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="nav-collapse collapse" ng-controller="NavCtrl">
                            <ul class="nav">
                                <li class="brand" href="#">
                                    <img src="../img/Logo.png" width="30"> 
                                </li>
                                <li ng-repeat="module in modules">
                                    <a href="{{module}}.html"><img src="../img/{{module}}.png" width="30">{{module}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: navbar -->

    <!-- start: forms -->
    <div id="forms" class="container" ng-controller="FormCtrl">
        <div class="tabbable tabs-right">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#index" data-toggle="tab">Index</a></li>
                <li><a href="#familyProfile" data-toggle="tab">Family Profile</a></li>
                <li><a href="#houseData" data-toggle="tab">House Data</a></li>
                <li><a href="#economicData" data-toggle="tab">Economic Data</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="index">
                    <h3 class="text-center">Index</h3>
                    <table>
                            <thead>
                                <tr>
                                    <th colspan="2">Territorial Public Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding:5px;">Province</td>
                                    <td style="padding:5px;"><input type="text" placeholder="e.g. West Java" ng-model="user.province"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Regency</td> 
                                    <td style="padding:5px;"><input type="text" placeholder="e.g. Sukabumi" ng-model="user.regency"></td>     
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Sub-District</td>
                                    <td style="padding:5px;"><input type="text" placeholder="e.g. Cikakak" ng-model="user.sub_district"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Village</td>
                                    <td style="padding:5px;"><input type="text" placeholder="e.g. Sima Rasa" ng-model="user.village"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Dunsun/Kampung</td>
                                    <td style="padding:5px;">
                                    <label class="checkbox inline"> 
                                        <input type="checkbox" id="Cihangasa" value="option1"> Cihangasa </label>
                                        <label class="checkbox inline"><input type="checkbox" id="Cisarua" value="option2"> Cisarua </label>
                                        <label class="checkbox inline"><input type="checkbox" id="SirnaRasa" value="option3"> Sirna Rasa </label>
                                    </td>
                                </tr>
                                <tr><td></td></tr>
                                <tr>
                                    <td style="padding:5px;">Name of interviewer</td>
                                    <td style="padding:5px;"><input type="text" ng-model="user.interviewer"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Start of interview</td>
                                    <td style="padding:5px;"><input type="text" ng-model="user.interview_start"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">End of interview</td>
                                    <td style="padding:5px;"><input type="text" ng-model="user.interview_end"></td>
                                </tr>
                                <tr><td></td></tr>
                                <tr>
                                    <td style="padding:5px;">Number of households</td>
                                    <td style="padding:5px;"><input type="text" ng-model="user.n_households"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Number of respondents</td>
                                    <td style="padding:5px;"><input type="text" ng-model="user.n_respondents"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Age of respondents</td>
                                    <td style="padding:5px;"><input type="text" ng-model="user.age_respondents"></td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">Status in family</td>
                                    <td style="padding:5px;">
                                        <label class="checkbox inline"> <input type="checkbox" id="checkHead" value="option1"> Head </label>
                                        <label class="checkbox inline"><input type="checkbox" id="checkWife" value="option2"> Wife </label>
                                        <label class="checkbox inline"><input type="checkbox" id="checkChild" value="option3"> Child </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="tab-pane" id="familyProfile">
                    <h3 class="text-center">Family Profile</h3>
                    <table style="border-collapse:collapse;">
                            <h3 class="text-left">Family Profile</h3>  
                            <tbody>
                                <tr>
                                    <td colspan="2">1. The number of members of the family (who live at home only) 
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   Male adults 20 years and older </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.m_gt_20">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   Female adults 20 years and older </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.f_gt_20">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   Children under 20 years old </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.ch_lt_20">people</td>
                                </tr>
                                <tr class="total">
                                    <td style="padding-left:35px; text-align: right">   <strong>Total</strong> </td>
                                    <td style="padding-left:35px; text-align: right"><!--something that will add the previous inputs-->people</td>
                                </tr>
                                <tr>
                                    <td colspan="2">2. The number of children at school 
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   Students attending university </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.ch_university">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   SLTU (Senior) </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.ch_sltu_senior">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   SLTP (Junior) </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.ch_sltu_junior">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:35px;">   Elementary School </td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.ch_elementary">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:35px; text-align: right">   <strong>Total</strong> </td>
                                    <td style="padding-left:35px; text-align: right"><!--something that will add the previous inputs-->people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:5px;">3. How many people in your family work in the village?</td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.n_work_local">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:5px;">4. How many of your family who live outside the village for work?</td>
                                    <td style="padding-left:35px;"><input type="text" ng-model="user.n_work_away">people</td>
                                </tr>
                                <tr>
                                    <td style="padding-left:5px;">5. Is your family headed by a male or a female?</td>
                                    <td style="padding-left:35px;"> 
                                        <label class="checkbox inline"> <input type="checkbox" id="Male" value="option1"> Male </label>
                                        <label class="checkbox inline"><input type="checkbox" id="Female" value="option2"> Female </label>
                                        <label class="checkbox inline">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="tab-pane" id="houseData">
                    <h3 class="text-center">House Data</h3>
                    <table style="border-collapse:collapse;">
                        <tbody>
                            <tr>
                                <td style="padding:5px;">1. How many rooms does your house have?</td>
                                <td style="text-align:right;">
                                    <select class="selectpicker span1">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4+</option>
                                    </select>
                                    rooms (including kitchen)</td>
                            </tr>
                            <tr>
                                <td style="padding:5px;">2. How big is your house?</td>
                                <td style="padding:5px;"><input type="text" ng-model="user.house_area">m<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td style="padding:5px;">3. What type of roof material is used?</td>
                            </tr>
                            <tr>
                                <td style="padding:5px;">
                                    <label class="checkbox"><input type="checkbox" value=""> Roof Tiles</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px;">
                                    <label class="checkbox"><input type="checkbox" value=""> Tin Roof</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px;">
                                    <label class="checkbox"><input type="checkbox" value=""> Leaves(straw, palm, leaves)</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="economicData">
                    <h3 class="text-center">Economic Data</h3>
                    <table class="table" style="border-collapse:collapse;">
                            <thead>
                                <tr>
                                    <td colspan="7">1. What is your income from farming?</td>
                                </tr>
                                <tr style="border-bottom:3px solid black;">
                                    <th style="width: 20%; padding:5px;">Type of plant </th>
                                    <th style="width: 13.33%; padding:5px;border-left:3px solid black;">Average number prouksi per plant(kg)</th>
                                    <th style="13.33%; padding:5px;border-left:1px solid black;">Harvest per year</th>
                                    <th style="13.33%; padding:5px;border-left:1px solid black;">Average price of production (Rp)</th>
                                    <th style="13.33%; padding:5px;border-left:1px solid black;">Estimated annual revenues (Rp)</th>
                                    <th style="13.33%; padding:5px;border-left:1px solid black;">Average annual cost (Rp)</th>
                                    <th style="13.33%; padding:5px;border-left:1px solid black;">Cash crops (Rp)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Paddy</td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                </tr>
                                <tr>
                                    <td><input class="input-medium" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                </tr>
                                <tr>
                                    <td><input class="input-medium" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                    <td><input class="input-mini" type="text"></td>
                                </tr>
                            </tbody>
                        </table>
                    <button ng-click="reset()">Reset</button>
                    <pre>form = {{user | json}}</pre>
                    <pre>master = {{master | json}}</pre>
                </div>
            </div>
        </div>
    </div>


    <!-- end: forms -->

    <!-- scripts -->
    <script src="../js/angular.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>
</html>